<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.png" %>
	</div>

<div id="content">
<h1>Hey, I'm Mindaugas </h1>
<p> Welcom to Vilnius</p>
<p>This is cool town</p>
<p>Find me on<a href="https://www.facebook.com/mindaugas.bernotas.90"> Facebook</a></p>
</div>
</div>